<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/countdown_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/countdown_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Countdown"
        android:screenOrientation="portrait"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".CountdownAct"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AddAct"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".EventsAct"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".HomeAct"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
